<%- include('header'); -%>

<main>
    <div class="p-4 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Lorem, ipsum dolor</h1>
        <p class="col-md-8 fs-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          optio molestiae vero quo, obcaecati numquam excepturi inventore sunt
          nostrum aliquid repellat accusantium. Qui nobis labore cupiditate
          optio quisquam. Praesentium, nisi.
        </p>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-dark btn-lg" type="button">Read More</button>
          </div>
          <div class="col-md-6 text-end">
            <p><i>Date</i></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      
      <div class="col-md-6">
        <div class="p-2 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Lorem, ipsum dolor</h1>
        <p class="fs-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          optio molestiae vero quo, obcaecati numquam excepturi inventore sunt
          nostrum aliquid repellat accusantium. Qui nobis labore cupiditate
          optio quisquam. Praesentium, nisi.
        </p>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-dark btn-lg" type="button">Read More</button>
          </div>
          <div class="col-md-6 text-end">
            <p><i>Date</i></p>
          </div>
        </div>
      </div>
    </div>
      </div>

      <div class="col-md-6">
        <div class="p-2 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Lorem, ipsum dolor</h1>
        <p class="fs-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          optio molestiae vero quo, obcaecati numquam excepturi inventore sunt
          nostrum aliquid repellat accusantium. Qui nobis labore cupiditate
          optio quisquam. Praesentium, nisi.
        </p>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-dark btn-lg" type="button">Lorem, ipsum dolor</button>
          </div>
          <div class="col-md-6 text-end">
            <p><i>Date</i></p>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    
  </main>


<%- include('footer'); -%>